#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body.dashboard-mode {
  display: flex;
}

body.dashboard-mode #root {
  margin: 0 !important;
  padding: 0 !important;

}

body.loading-mode {
  overflow: hidden;
}

body.loading-mode .tabbar {
  display: none !important;
}


#pdf-container {
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pdf-container::-webkit-scrollbar {
  display: none;
}
.no-scrollbar-x {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar-x::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Scrollbar dọc mượt */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4b5563 #1f2937; /* thumb + track */
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2937; /* track màu xám đậm */
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* thumb màu xám */
  border-radius: 9999px;
  border: 2px solid #1f2937; /* tạo padding */
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* hover sáng hơn */
}

@tailwind base;
@tailwind components;
@tailwind utilities;